# .gitignore
# Ignorar dados de notebooks e volumes
projects/
workspace/
.ipynb_checkpoints/

# Ignorar arquivos temporários do sistema
__pycache__/
*.pyc
.DS_Store

# Ignorar histórico do Jupyter
.jupyter/
.local/
